.form {
  width: 50%;
  padding-bottom: 3%;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.TodoForm {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 3%;
}

.todo-input {
  outline: none;
  background-color: white;
  border: 1px solid #ffae00;
  padding: 0.5rem 1rem;
  width: 60%;
  border-radius: 10px;
  margin-left: 3%;
  color: black;
}

.todo-input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.todo-btn {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ffae00;
  padding-inline: 0.55rem;
  cursor: pointer;
  height: 2.5rem;
  margin-left: 5%;
  font-size: 0.8vw;
  width: 6vw;
}
.select {
  border-radius: 5px;
  margin-left: 5%;
  border: 1px solid #ffae00;
  font-size: 0.8vw;
  width: 6vw;
  height: 2.5rem;
  display: block;
}

@media screen and (max-width: 750px) {
  .form {
    width: 85vw;
  }
  .todo-input {
    outline: none;
    background-color: white;
    border: 1px solid #ffae00;
    padding: 0.5rem 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 50vw;
    border-radius: 10px;
    color: black;
    margin-bottom: 5%;
  }

  .TodoForm {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .todo-btn {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #ffae00;
    padding-inline: 0.55rem;
    cursor: pointer;
    height: 1.7rem;
    margin-left: 0%;
    font-size: 3vw;
    width: 50%;
  }
  .select {
    border-radius: 5px;
    margin-left: 0%;
    border: 1px solid #ffae00;
    width: 50%;
    font-size: 3vw;
    margin-bottom: 5%;
  }
}
