.form {
  width: 50%;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.TodoForm {
  display: flex;
  width: 100%;
  align-items: center;
}

.todo-input {
  outline: none;
  background-color: white;
  border: 1px solid #ffae00;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 60%;
  border-radius: 10px;
  margin-left: 5%;
}

.todo-input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.todo-btn {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ffae00;
  padding-inline: 0.55rem;
  cursor: pointer;
  height: 1.7rem;
  margin-left: 10%;
}
.select {
  border-radius: 5px;
  margin-left: 5%;
  border: 1px solid #ffae00;
}
